.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nasa-logo {
  background-color: white;
  z-index: -10;
  height: 10rem;
  width: 20rem;
}

.header-wrap {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: max-content;
  background-color: white;
}
