.search-results-text {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.search-results-wrap {
  overflow-x: scroll;
  width: 90vw;
}

.search-results {
  display: flex;
  height: 300px;
  margin-bottom: 1rem;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-results-image {
  width: 300px;
  margin-right: 1rem;
  opacity: 0.5;
  object-fit: cover;
}

.search-results-image:hover {
  opacity: 1;
}
